{% extends "admin_base.html" %}

{% block content %}
<br />
Symptom Type
<table>
<tr>
<td>Name</td>
<td>Added by</td>
<td>Change</td>
</tr>
{% for t in type %}
<tr>
<td>{{t.name}}</td>
<td>{{t.added_by.username}}</td>
<td><a href="{% url 'delete_symptom_type' t.pk %}">Delete</a> |
<a href="{% url 'modify_symptom_type' t.pk %}">Modify</a></td>
</tr>
{% endfor %}
</table>
<br />
Symptom Detail
<table>
<tr>
<td>Name</td>
<td>Symptom Type</td>
<td>Added by</td>
<td>Change</td>
</tr>
{% for d in detail %}
<tr>
<td>{{d.name}}</td>
<td>{{d.symptomType.name}}</td>
<td>{{d.added_by.username}}</td>
<td><a href="{% url 'delete_symptom_detail' d.pk %}">Delete</a> |
<a href="{% url 'modify_symptom_detail' d.pk %}">Modify</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}