{% extends "admin_base.html" %}

{% block content %}
<table>
<tr>
<td>Username</td>
<td>First Name</td>
<td>Last Name</td>
<td>Email Address</td>
<td>Status</td>
<td>Change Status</td>
</tr>
{% for status in list %}
<tr>
<td>{{status.user.username}}</td>
<td>{{status.user.first_name}}</td>
<td>{{status.user.last_name}}</td>
<td>{{status.user.email}}</td>
<td>{{status.status}}</td>
<td><a href="{% url 'confirm_doctor' status.user.username %}">Make Doctor</a> |
<a href="{% url 'confirm_patient' status.user.username %}">Make Patient</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}