{% extends "admin_base.html" %}

{% block content %}
<br />
Symptom Type
<table>
<tr>
<td>Name</td>
<td>Added by</td>
<td>Delete</td>
</tr>
{% for t in type %}
<tr>
<td>{{t.name}}</td>
<td>{{t.added_by.username}}</td>
<td><a href="{% url 'delete_symptom_type' t.name %}">Delete</a></td>
</tr>
{% endfor %}
</table>
<br />
Symptom Detail
<table>
<tr>
<td>Name</td>
<td>Symptom Type</td>
<td>Added by</td>
<td>Delete</td>
</tr>
{% for d in detail %}
<tr>
<td>{{d.name}}</td>
<td>{{d.symptomType}}</td>
<td>{{d.added_by.username}}</td>
<td><a href="{% url 'delete_symptom_detail' d.name %}">Delete</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}