{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Medic
{% endblock %}

{% block content %}
<h1 class="title">Live Healthier. Live Better.</h1>
<h4>Find and talk about your medical condition.</h4>
<form class="form-intro" method="get" action="{% url 'info' %}">
<button class="btn btn-lg btn-default">Learn about Medic</button>
</form>
{% endblock %}

{% block logo-block %}
<div class="logo-block">
<div class="row">
  <div class="col-md-4">
    <h2>Check-up</h2>
	Use Medic's Check-up feature to be easily diagnosed and stay healthy. Check-up allows anyone to type in their symptoms and find out their possible diseases. Just spend 3 minutes to check your symptoms!
    <form class="form-intro" method="get" action="{% url 'check-up' %}">
    <button class="btn btn-lg btn-info">Check-up</button>
    </form>
  </div>
  <div class="col-md-4">
    <h2>Medic Chat</h2>
    Are you too busy to visit a doctor? Use Medic Chat to talk to a medical doctor through an online chat. You can chat with a doctor about your medical conditions and discuss whether you should actually go to a hospital or not.
    <form class="form-intro" method="get" action="{% url 'medic_chat' %}">
    <button class="btn btn-lg btn-info">Medic Chat</button>
    </form>
  </div>
  <div class="col-md-4">
    <h2>Patients Chat</h2>
    Find a group of patients who have had similar disease and share your experiences. Encourage each other to successfully fight against your disease. Make sure everyone knows that you are not alone!
    <form class="form-intro" method="get" action="{% url 'patients_chat' %}">
    <button class="btn btn-lg btn-info">Patients Chat</button>
    </form>
  </div>
</div>
</div>
{% endblock %}