{% extends "base.html" %}

{% block title %}
Info
{% endblock %}

{% block content %}
<h2>About Medic</h2>
<div class="bottom-text">
<br />
<i>Medic</i> is built to provide easy access to medical information for average non-expert users. Many people do not recognize their diseases in the early stage due to lack of medical knowledge. Even though some symptoms are quite obvious, many patients do not visit a doctor because of busy work, long distance, or insufficient money. Such late detection of diseases causes harder and less successful treatment for people who are not medical experts. <i>Medic</i> allows users to have easy access to medical information so that more people can detect their symptoms earlier and visit hospital for more successful treatment.<br />
</div>
{% endblock %}

{% block logo-block %}
<div class="info-block">
<div class="container">
<h2>About Developer</h2>
<div class="bottom-text">
<br />
I am a student in Carnegie Mellon University, studying Electrical and Computer Engineering. I have deep interest in embedded systems and medical science. I have always had fascination over applying computer systems to the field of medicine. Through computer engineering, I believe that medical science can improve much faster and save more lives. As I personally belive that everyone should have right to live a healthy life, I am very willing to dedicate my engineering knowledge and education to help others live healthier and better lives. Please visit my <a href="https://www.linkedin.com/in/won-chung-166b6566"><i>Linkedin</i></a> profile to learn more about me.
</div>
</div>
</div>

<div class="container" style="margin-top:20px;">
<h2>Dedication</h2>
<div class="bottom-text">
<br />
I dedicate this website to my father who is fighting against pancreatic cancer, my mother who is fighting against hepatitis B, and everyone around the world struggling to fight their diseases. 
</div>
</div>
{% endblock %}