{% extends "base.html" %}

{% block title %}
Log in
{% endblock %}

{% block content %}
<form class="form-center" method="post" action="{% url 'django.contrib.auth.views.login' %}">

<h2>Please Log In </h2>
{{ form.username }}
{{ form.password }}
{% if form.errors %}
<p class="error">
Incorrect user name and password.
</p>
{% endif %}
<input class="btn btn-lg btn-primary btn-block" type="submit" value="Log in" />
{% csrf_token %}
</form>
<form class="form-center" method="get" action="{% url 'register' %}">
<button class="btn btn-lg btn-primary btn-block">Register</button>
</form>
{% endblock %}