{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block js_files %}
{% load staticfiles %}
<script src="{% static 'js/register.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<form class="form-center" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
<h2>Register</h2>
{% for field in form.visible_fields %}
{{field}}
<span class="error">{{field.errors}}</span>
{% endfor %}
{% for field in form.hidden_fields %}
{{field}}
{% endfor %}
<p class="form-text">Are you a medical doctor?*
<input class="is_doctor" type="radio" name="status" value="doctor"> Yes
<input class="is_doctor" type="radio" name="status" value="patient" checked> No
</p>
<div id='doctor_register'>
<div class="form-text">
Government Issued Photo ID** <br />
<div class="fileUpload btn btn-default">
    <span>Upload</span>
    <input id="uploadBtn1" type="file" class="upload" name="file1"/>
</div>
<input id="uploadFile1" placeholder="Choose File" disabled="disabled" class="choose_file"/>
</div>
<div class="form-text">
License to Practice Medicine** <br />
<div class="fileUpload btn btn-default">
    <span>Upload</span>
    <input id="uploadBtn2" type="file" class="upload" name="file2"/>
</div>
<input id="uploadFile2" placeholder="Choose File" disabled="disabled" class="choose_file"/>
</div>
</div>
{% csrf_token %}
<input class="btn btn-lg btn-default btn-block" type="submit" value="Register" />
<h6>*It may take a few business days to confirm medical doctor.</h6>
<h6>**A valid ID and a license to practice medicine are required to be registered as medical doctor.</h6>
<h6 class="bottom-text">**Uploaded files will not be stored in the server, but only be used for verification.</h6>
</form>
{% endblock %}