{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}
<form class="form-center" method="post" action="{% url 'register' %}">
<h2>Register</h2>
{% for field in form.visible_fields %}
{{field}}
<span class="error">{{field.errors}}</span>
{% endfor %}
{% for field in form.hidden_fields %}
{{field}}
{% endfor %}
<p class="form-text">Are you a medical doctor?
<input type="radio" name="status" value="doctor"> Yes
<input type="radio" name="status" value="patient" checked> No
</p>
{% csrf_token %}
<input class="btn btn-lg btn-default btn-block" type="submit" value="Register" />
</form>
{% endblock %}