{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block js_files %}
{% load staticfiles %}
<script src="{% static 'js/register.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<form class="form-center" method="post" action="{% url 'register' %}">
<h2>Register</h2>
{% for field in form.visible_fields %}
{{field}}
<span class="error">{{field.errors}}</span>
{% endfor %}
{% for field in form.hidden_fields %}
{{field}}
{% endfor %}
<p class="form-text">Are you a medical doctor?*
<input class="is_doctor" type="radio" name="status" value="doctor"> Yes
<input class="is_doctor" type="radio" name="status" value="patient" checked> No
</p>
<div id='doctor_register'>
<p class="form-text">
Government Issued Photo ID:
</p>
<p class="form-text">
License to Practice Medicine:
</p>
</div>
{% csrf_token %}
<input class="btn btn-lg btn-default btn-block" type="submit" value="Register" />
<h6>*It may take a few business days to confirm medical doctor.</h6>
</form>
{% endblock %}

{% block logo-block %}
<div class="logo-block">
{% load staticfiles %}
<img alt="logo" src="{% static "img/logo.png" %}">
</div>
{% endblock %}