body {
	padding-top: 70px;
	padding-bottom: 30px;
	background: #64B143 !important;
	color: white;
}

nav a {
	padding: 0 !important;
}

nav a p:hover {
	color: #089CCB !important;
}

.navbar-brand {
	padding: 0 !important;
}

.medic-logo {
	max-height: 100%;
}

.btn-primary {
	background: #089CCB !important;
	border: none !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background: #067799 !important;
}

.navbar-btn {
	margin-left: 15px !important;
}

.btn-default {
	background: #64B143 !important;
	color: white !important;
	border: 1px white solid;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
	background: white !important;
	color: #64B143 !important;
	border: 1px white solid;
}

.btn-info {
	background: white !important;
	color: #64B143 !important;
	border: 1px #64B143 solid;
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
	background: #64B143 !important;
	color: white !important;
	border: 1px #64B143 solid;
}

h1 {
	text-align: center !important;
	margin-top: 70px !important;
}

h4 {
	text-align: center !important;
}

.title {
	font-size: 52px;
}

.logo-block {
	background: white;
	display: block;
	padding: 70px 50px;
	margin-top: 100px;
	text-align: center;
	color: #64B143 !important;
}

.logo-block .col-md-4 {
	padding: 0px 40px;
}

.logo-block img {
	margin: 30px auto;
}

.form-center {
	max-width:350px;
	margin: 5px auto;
}

.form-control {
	height:auto;
	padding:12px;
	font-size:16px;
	margin: 5px 0px;
}

.form-text {
	height:auto;
	padding:12px;
	font-size:16px;
	margin: 5px 0px;
}

.form-text input {
	margin-left: 10px;
}

ul {
	list-style-type: none;
	padding: 0px;
}

.right-align {
	text-align: right !important;
}

.form-center a {
	color: white !important;
}

.form-intro {
	text-align: center;
}

.form-intro .btn-default {
	margin-top: 40px;
}

.form-intro .btn-info {
	margin-top: 20px;
	margin-bottom: 20px;
}