body {
	padding-top: 70px;
	background: #64B143 !important;
	color: white;
}

nav a {
	padding: 0 !important;
}

nav a p:hover {
	color: #089CCB !important;
}

.navbar-brand {
	padding: 0 !important;
}

.medic-logo {
	max-height: 100%;
}

.btn-primary {
	background: #089CCB !important;
	border: none !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background: #067799 !important;
}

.navbar-btn {
	margin-left: 15px !important;
}

.form-center {
	max-width:350px;
	margin: 5px auto;
}

.form-control {
	height:auto;
	padding:12px;
	font-size:16px;
	margin: 5px 0px;
}

.form-text {
	height:auto;
	padding:12px;
	font-size:16px;
	margin: 5px 0px;
}

.form-text input {
	margin-left: 10px;
}

ul {
	list-style-type: none;
	padding: 0px;
}